<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_animation"
        android:label="FlickView"
        android:roundIcon="@drawable/logo_animation"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flickview"
        tools:targetApi="31">
        <activity
            android:name=".Activities.DiscoverActivity"
            android:exported="true"
            android:theme="@style/Theme.Flickview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.LandingActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.DeveloperPageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.ProfilePageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.SettingsPageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.AppLanguageListViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

        <activity android:name=".Activities.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />

    </application>

</manifest>