<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_animation"
        android:label="FlickView"
        android:roundIcon="@drawable/logo_animation"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flickview"
        tools:targetApi="31">
        <activity
            android:name=".activities.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiscoverActivity"
            android:exported="true"
            android:theme="@style/Theme.Flickview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.LandingActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.DeveloperPageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.ProfilePageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.SettingsPageActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.AppLanguageListViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" /> <!-- <activity android:name=".activities.ClearCacheActivity" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@style/Theme.Flickview" /> -->
        <activity
            android:name=".activities.CopyrightActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.DisplayActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.RateUsActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.RegionPreferencesActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.FavoritesFragment"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.ProfileFragment"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.HomeFragment"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
        <activity
            android:name=".activities.ActivityCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.Flickview" />
    </application>

</manifest>